@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #eff1f7;
}

header {
  display: flex;
  padding: 55px 165px 0 165px;
  gap: 45.43px;
  background-color: #fff;
}

nav {
  width: 100%;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav > ul > .left {
  display: flex;
  gap: 29px;
}

nav > ul > .left > li > a {
  text-decoration: none;
  color: #9e9aa8;
}

nav > ul > .right {
  display: flex;
  gap: 37px;
}

nav > ul > .right > li > a {
  text-decoration: none;
  color: #9e9aa8;
}

.sign-up {
  padding: 9px 24px;
  background-color: #2bd0d0;
  border-radius: 28px;
  color: #fff;
  text-decoration: none;
}

#burger {
  display: none;
}

.top {
  margin-top: 78px;
  padding-left: 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 152px;
  background-color: #fff;
}

.top-left {
  max-width: 565px;
}

.top-left > h1 {
  font-size: 80px;
  font-weight: 700;
  color: #34313d;
  letter-spacing: -2px;
  line-height: 90px;
}

.top-left > p {
  margin: 5px 0 38px 0;
  font-size: 22px;
  font-weight: 500;
  color: #9e9aa8;
  line-height: 36px;
}

form {
  background-color: #3a3054;
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translate(-50%);
  bottom: -80px;
  padding: 52px 65px;
  border-radius: 10px;
  display: flex;
  gap: 24px;
}

#search {
  width: 779px;
  padding: 14px 32px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  color: #34313d;
  border: none;
}

#search-btn {
  padding: 18px 41px;
  border-radius: 10px;
  border: none;
  background-color: #2bd0d0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.mid {
  padding: 204px 24px 120px 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.mid > h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1px;
  color: #34313d;
}

.mid > p {
  max-width: 540px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.12px;
  color: #9e9aa8;
}

.cards {
  display: flex;
  gap: 30px;
  margin-top: 100px;
}

.card {
  max-width: 350px;
  padding: 77px 32px 41px 32px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

.card > h3 {
  color: #34313d;
  font-size: 22px;
  font-weight: 700;
}

.card > p {
  font-size: 15px;
  font-weight: 500;
  color: #9e9aa8;
}

.circle {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #3a3054;
  position: absolute;
  top: -44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-2 {
  top: 44px;
}

.card-3 {
  top: 88px;
}

.bot {
  background-color: #3a3054;
  padding: 57px 35px;
  text-align: center;
}

.bot > h2 {
  color: #fff;
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1px;
}

footer {
  background-color: #232127;
  padding: 72px 165px;
  display: flex;
  justify-content: space-between;
  /* gap: 261.43px; */
}

.footer-nav {
  display: flex;
  gap: 78px;
  align-items: flex-start;
  width: fit-content;
}

.footer-nav > ul {
  width: fit-content;
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.footer-nav > ul > li > a {
  color: #bfbfbf;
  text-decoration: none;
}

.nav-heading {
  color: #fff !important;
  margin-bottom: 12px !important;
}

.social-icons {
  display: flex;
  gap: 24px;
  align-items: center;
  height: fit-content;
}
